In [46]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [47]:
df = pd.read_csv('eth.csv')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-11-09 00:00:00+00:00,308.644989,329.451996,307.056000,320.884003,893249984,0.0,0.0
1,2017-11-10 00:00:00+00:00,320.670990,324.717987,294.541992,299.252991,885985984,0.0,0.0
2,2017-11-11 00:00:00+00:00,298.585999,319.453003,298.191986,314.681000,842300992,0.0,0.0
3,2017-11-12 00:00:00+00:00,314.690002,319.153015,298.513000,307.907990,1613479936,0.0,0.0
4,2017-11-13 00:00:00+00:00,307.024994,328.415009,307.024994,316.716003,1041889984,0.0,0.0

In [49]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [50]:
df.drop([ 'Open', 'High', 'Low',  'Dividends', 'Stock Splits', 'Volume'], inplace = True, axis = 1)

In [51]:
df['time'] = pd.to_datetime(df['Date'])
df['formatted_time'] = df['time'].dt.strftime('%d-%m-%Y')
df['formatted_time']

0       09-11-2017
1       10-11-2017
2       11-11-2017
3       12-11-2017
4       13-11-2017
           ...
2394    30-05-2024
2395    31-05-2024
2396    01-06-2024
2397    02-06-2024
2398    03-06-2024
Name: formatted_time, Length: 2399, dtype: object

In [52]:
df.drop([ 'Date', 'time'], inplace = True, axis = 1)

In [53]:
df

            Close formatted_time
0      320.884003     09-11-2017
1      299.252991     10-11-2017
2      314.681000     11-11-2017
3      307.907990     12-11-2017
4      316.716003     13-11-2017
...           ...            ...
2394  3746.849609     30-05-2024
2395  3760.026611     31-05-2024
2396  3813.198975     01-06-2024
2397  3780.895996     02-06-2024
2398  3833.744629     03-06-2024

[2399 rows x 2 columns]

In [61]:
import pandas_ta as ta
 
df['SMA'] = ta.sma(df['Close'], length=5) 
df['EMA'] = ta.ema(df['Close'], length=5) 
df['RSI'] = ta.rsi(df['Close'], length=14)

In [62]:
df

            Close formatted_time          SMA          EMA        RSI
0      320.884003     09-11-2017          NaN          NaN        NaN
1      299.252991     10-11-2017          NaN          NaN        NaN
2      314.681000     11-11-2017          NaN          NaN        NaN
3      307.907990     12-11-2017          NaN          NaN        NaN
4      316.716003     13-11-2017   311.888397   311.888397        NaN
...           ...            ...          ...          ...        ...
2394  3746.849609     30-05-2024  3813.641357  3775.709597  63.639676
2395  3760.026611     31-05-2024  3800.467187  3770.481935  64.095183
2396  3813.198975     01-06-2024  3784.705615  3784.720948  65.948936
2397  3780.895996     02-06-2024  3772.833545  3783.445964  63.794067
2398  3833.744629     03-06-2024  3786.943164  3800.212186  65.764946

[2399 rows x 5 columns]

In [63]:
df.fillna(0, inplace = True)

In [64]:
new_df = df.copy()

In [67]:
X = new_df.drop(['Close', 'formatted_time'], axis = 1).values
Y = new_df['Close'].values

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [71]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [72]:
rf = RandomForestRegressor()
 
param_grid = {
    'n_estimators': [50, 100, 150, 200, 250, 300]
}
grid_search_rf = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3)
grid_search_rf.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(),
             param_grid={'n_estimators': [50, 100, 150, 200, 250, 300]})

In [73]:
best_rf = grid_search_rf.best_estimator_
best_rf

RandomForestRegressor(n_estimators=250)

In [74]:
y_pred_rf = best_rf.predict(X_test)
y_pred_rf

array([1848.15824854, 1861.25702881,  151.55926202, 1815.25458838,
       1814.74660254,  521.97902441, 3316.41559766, 1248.29838232,
       2775.12693457,  381.27948083, 1204.0251123 ,  860.69182446,
       1925.85666943, 3879.2759502 , 1644.51598193, 1296.91416455,
        760.73440698, 1581.57118848, 3176.28791309, 2659.59616113,
        436.38269763, 1644.75951416,  409.90089575, 1652.89168311,
       2054.29322217,  174.01771686, 2354.58762598, 1953.20141846,
       2645.36130371, 1991.35519775, 1297.02584131,  583.54510107,
       1883.38425   , 1816.52034375, 1784.46705859, 1622.97890869,
        495.8953783 ,  121.79847833,  172.43305676,  239.36752008,
        112.76321915, 2822.28618945,  145.215009  ,  250.0083783 ,
        987.70451123,  598.96256714, 1805.7966084 , 1628.06877881,
       2279.52824902,  484.97752759,  398.62045386, 1780.24814404,
        159.41027655, 1564.38841699, 1584.2250835 , 3081.14862891,
       3168.05559766, 3722.61181152, 2177.8167832 , 3101.13157129,
       1804.28740527,  243.33514337, 1872.54742822,  226.31828369,
       1328.46803076,  187.87744598, 2357.06187598,  132.59486926,
       1849.0765083 ,  367.10940405, 3325.21844238, 1371.39508838,
       1901.09514307, 1858.01342285,  466.92629382,  481.86207764,
       2225.91415332,  670.78157764,  134.43507245, 4589.64633203,
        454.12983142,  131.75161258, 1469.14679736,  132.51701498,
        243.81642438,  135.28321948,  570.87872485,  138.27882654,
        949.9585896 ,  753.54897998, 1416.22786426,  198.4339115 ,
        439.76694177, 2267.06970996, 2430.17203418, 3141.51420313,
        181.06719812, 2396.42786914, 3342.18701758, 1804.63937305,
       2923.56024707, 3559.92853809,  161.05849353, 2266.22142773,
       1636.24902393, 2829.17690625, 1564.71520996,  131.62642395,
       1947.79770605, 4092.72513184,  185.63766968, 1758.56821436,
       1777.3057085 , 1293.38487646,  169.80850977,  117.8634549 ,
       1814.20872314, 1801.41129004, 1155.52676221,  218.45728284,
        192.42678223, 2546.94239648, 1931.80100049, 2918.20368945,
       1626.04284033,  164.66555396,  254.92742328, 3500.51480762,
        235.99188763,  591.5980874 , 1621.60210254,  644.02113477,
       1536.86069336,  203.53768823,  556.68402979, 3334.98467578,
       1895.6856084 ,  601.76371509, 1216.69756982,  229.42870361,
        381.20803101, 1746.02461279, 1978.49025391, 4226.44797168,
       1205.7356709 , 3934.85714746, 1888.17473633, 3820.55336133,
       1820.04951953,  121.95113416, 2999.40884277, 1671.8116333 ,
        421.55370459,  287.29968103, 2658.78285449,  139.96301685,
        134.72188998,  204.57618317,  597.34023047, 2067.60414209,
       1845.19144727,  243.43781757,  223.08316956,  439.16952002,
        216.68202319, 1818.01259619, 3180.50293066,  448.06720703,
        129.64099622,  713.0413584 ,  111.04260699, 2333.73007715,
       1660.40975879,  602.59523047,  141.51201648,  183.74846832,
        469.62764026,  289.68454956, 1529.89313232,  215.22193146,
       1641.59968848,  284.84891333,  113.42393408, 1503.4750791 ,
       3009.40320215,  240.73337006, 3745.78137305, 1835.20330664,
       1189.74226367, 2244.54733887, 2254.9606123 ,  118.30755511,
       3747.33129492,  379.67394556, 3821.19344238,  853.0062832 ,
        291.50430176, 1850.75486914, 1195.56132861, 3314.54068945,
       1554.70799023, 1229.6348208 ,  204.441638  , 3193.17795801,
       1817.06903613,  396.36523901, 1813.90599902,  156.15161713,
        137.79974634,  464.13684583, 3303.22979883,  117.07016846,
        367.26657837, 4356.83692383,  494.15269238, 3487.64929492,
       1924.84890088, 3100.23591992, 4150.37997266,  150.24621674,
        198.42020929,  126.70366449, 2968.19245703, 2641.99187012,
        351.27701331, 1533.78603174,  221.60533838,  346.33533679,
        206.45588953, 3735.45308105, 3874.86474512, 1285.64387402,
        235.86685901, 1704.72673877,  364.26130408,  602.15113647,
       1322.95442969,   85.59157446, 3328.08181445,  229.97915363,
        137.74219073, 2968.86932715, 2262.03847852,  136.7835029 ,
        398.50324158, 1828.84862061,  317.83236548, 1102.55820068,
       1724.67369141,  154.40136041,  116.00172827,  166.48613879,
        205.05751514, 3323.23048437, 1285.98405566, 4063.74556152,
       1869.13189893,  205.8193255 ,  194.21886407,  743.41966528,
       1348.12869727,  181.15301825,  767.47423535, 1814.77547314,
       1916.44188965, 2970.01644922,  165.11295105,  699.8394751 ,
        135.01090692,  117.2474183 ,  200.79083997, 2048.09812793,
        207.11978711, 2085.76131836,  219.15236371, 1654.50005078,
        136.27949966,  164.53946484, 1635.66495215, 2659.62542676,
        121.89783887, 1843.41746826, 1849.64156982,  485.37115491,
       1105.49152563,  212.10794086,  128.52192963, 1062.39890356,
        379.79530115, 2054.76116504,  160.55453314,  250.88241064,
       1358.50284375,  172.93076099,  218.32652039,  501.79077026,
        284.23903589, 1214.2477124 , 1252.42430225,  206.57508905,
        626.70547803,  236.7621333 , 1212.61247217,  180.53153418,
        725.72076514, 1812.95647266, 3680.44832324,  237.42255121,
       1752.73358154,  219.57634943, 3052.65855469, 1539.75376807,
        281.68028174, 2971.32776563, 1743.87302637,  140.91723798,
       1864.93716699,  134.05339502, 2870.77458105, 2636.2485    ,
       1841.87000195,  247.09881702, 2464.29110449,  288.26432263,
       1654.72799365,  226.08285803,  216.42514502,  122.21833746,
       1632.99594678, 1914.07028027,  497.33163586, 1272.30678369,
       3143.99807031, 2994.72062598, 2921.16116406, 1056.81295654,
       1649.71631006, 1199.64281641, 1886.0046582 ,  869.32398413,
        145.04766861,  132.55117123,  280.65104639, 1542.91305566,
       2060.51228174, 1640.69544678,  276.858422  ,  126.62949924,
       1816.47559814, 1532.50088135, 3493.3508291 ,  285.18616162,
        599.60955688,  151.55423151, 3392.15660449,  191.72157446,
        148.88271918, 3825.23427246,  363.3916521 , 1565.31009229,
       1826.92471826,  469.94090308,  142.16473437, 2604.15052539,
       1889.80351172,  389.58954724,  166.81749634, 1233.31471191,
       1045.67703296,  110.12502209, 2373.60918164, 1966.78118652,
       3040.16781152,  123.5232637 ,  672.06051758, 1918.30244238,
        302.73804175, 1804.52149414, 1902.79519922,  496.96087024,
        224.6581994 , 3193.7999873 , 2620.11812598,  211.8549762 ,
       2904.04580859, 2151.1736084 ,  271.48800311, 3008.42878906,
       1199.03222949, 1238.8010127 ,  204.69081738,  170.81587714,
        607.95625793, 1201.29183252,  212.73552539,  431.46887012,
       1189.04427246,  515.2063197 ,  470.153927  , 1165.19137646,
       4074.94873242,  165.03025537, 1859.99683105,  242.13807727,
        702.54620801,  280.96588623,  134.59289087, 4103.59194629,
       2808.26265137, 1647.63311426,  389.4138396 ,  182.73445868,
        134.62537686,  593.41070435, 1844.96192871, 1662.47136523,
        200.92734692, 4083.88396777,  443.37217749,  175.53082758,
        186.37854016,  143.07158081, 2994.54930273,  112.62537741,
       1873.06016211,  245.93464587, 2357.85049121,  142.13574799,
        791.75041382,  156.15366016, 2549.4325498 ,  177.43498041,
       1635.53657568,  710.92932886, 1322.92472852, 1216.21918896,
       1297.40922852, 2520.18067578,  292.5365144 ,  358.70468311,
        399.13493152,  209.73555676, 1628.00309473, 3834.90778223,
        251.49651257, 1763.56878955,  790.65066064, 1671.32213379,
        229.11521899,  267.52761847, 1797.51779102, 2150.64966016,
        265.53284143,  748.30174731,  136.91238165, 2572.81711035,
        295.2187301 , 4516.53761523,  172.26117981, 2106.7144707 ,
        189.44932404,  265.57131842, 2587.66493359, 1865.90975928,
       1209.51374854, 4677.0031543 ,  239.13264075,  225.21805328,
       1703.61606689,  212.09650934, 1848.30249365, 2246.80731934,
        738.20896313,  186.54676648, 2314.65480859, 1257.08346924,
        569.10120227,  692.41961182,  149.23922937,  179.64449164])

In [75]:
rf_metrics = {
    'RMSE': np.sqrt(mean_squared_error(y_test, y_pred_rf)),
    'MSE': mean_squared_error(y_test, y_pred_rf),
    'MAE': mean_absolute_error(y_test, y_pred_rf),
    'R2': r2_score(y_test, y_pred_rf)
}
print(rf_metrics)

{'RMSE': 39.48958928758721, 'MSE': 1559.4276621023223, 'MAE': 20.796003549448656, 'R2': 0.9988018127791948}

In [76]:
len(df)

2399

In [77]:
data = df [len(df) - 15:]

In [79]:
for i in range(10):
    sma = ta.sma(data['Close'], length=5).iloc[-1]
    ema = ta.ema(data['Close'], length=5).iloc[-1]
    rsi = ta.rsi(data['Close'], length=14).iloc[-1]
    # sma_5, ema_5, rsi_14 = scaler.fit_transform(np.array([sma, ema, rsi]).reshape(-1, 1))
    # new_close = best_rf.predict([[0.163528, 0.0, 0.0, 0.0, 1.0, 0.0, sma_5[0], ema_5[0], rsi_14[0]]])
    new_close = best_rf.predict([[sma, ema, rsi]])
    print(new_close)
    new_row = pd.DataFrame({"Close": new_close, "formatted_time" : "0", "SMA" : sma, "EMA" : ema, "RSI" : rsi})
    data = pd.concat([data, new_row], ignore_index= True)

[3790.55573438]
[3754.10517187]
[3754.19741016]
[3753.64178027]
[3744.48175488]
[3653.59923047]
[3575.97829102]
[3525.73713281]
[3440.88535645]
[3377.61669922]

In [80]:
data

          Close formatted_time          SMA          EMA        RSI
0   3663.855469     20-05-2024  3179.579443  3256.483191  70.029124
1   3789.312744     21-05-2024  3348.415771  3434.093042  72.515353
2   3737.217773     22-05-2024  3477.035596  3535.134619  69.921548
3   3776.927246     23-05-2024  3607.831250  3615.732162  70.779529
4   3726.934570     24-05-2024  3738.849561  3652.799631  68.144123
5   3749.236572     25-05-2024  3755.925781  3684.945278  68.703947
6   3825.897461     26-05-2024  3763.242725  3731.929339  70.615536
7   3892.006836     27-05-2024  3794.200537  3785.288505  72.192909
8   3840.256348     28-05-2024  3806.866357  3803.611119  69.067365
9   3763.196533     29-05-2024  3814.118750  3790.139590  64.583517
10  3746.849609     30-05-2024  3813.641357  3775.709597  63.639676
11  3760.026611     31-05-2024  3800.467187  3770.481935  64.095183
12  3813.198975     01-06-2024  3784.705615  3784.720948  65.948936
13  3780.895996     02-06-2024  3772.833545  3783.445964  63.794067
14  3833.744629     03-06-2024  3786.943164  3800.212186  65.764946
15  3790.555734              0  3786.943164  3801.704423  60.654878
16  3754.105172              0  3795.684389  3797.988194  54.875480
17  3754.197410              0  3794.500101  3783.360520  50.501859
18  3753.641780              0  3782.699788  3773.639483  50.512608
19  3744.481755              0  3777.248945  3766.973582  50.441551
20  3653.599230              0  3759.396370  3759.476306  49.212474
21  3575.978291              0  3732.005070  3724.183948  39.046652
22  3525.737133              0  3696.379693  3674.782062  32.812349
23  3440.885356              0  3650.687638  3625.100419  29.526270
24  3377.616699              0  3588.136353  3563.695398  24.976776

In [81]:

# Evaluate the model
rf_metrics = {
    'RMSE': np.sqrt(mean_squared_error(y_test, y_pred_rf)),
    'MSE': mean_squared_error(y_test, y_pred_rf),
    'MAE': mean_absolute_error(y_test, y_pred_rf),
    'R2': r2_score(y_test, y_pred_rf)
}
print(rf_metrics)

{'RMSE': 39.48958928758721, 'MSE': 1559.4276621023223, 'MAE': 20.796003549448656, 'R2': 0.9988018127791948}

In [82]:
import pickle 
with open('eth.pkl', 'wb') as f:
    pickle.dump(best_rf, f)